<div class="who-member" data-aos="fade-up" data-duration="500" data-aos-offset="200">
  <div class="who-member__image">
    <img alt="{{ alt }}" src="{{ image }}">
    <img alt="{{ alt_hover }}" src="{{ hover }}">
  </div>
  <h4 class="who-member__name">{{ name }}</h4>
  <p class="who-member__role">{{ role }}</p>
</div>